<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Troop Game Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/game/css/admin.css">
    <script src="/game/js/qrcode.js"></script>
</head>
<body>

<h2 style="display: inline-block; margin-left: 20px">Troop Game Admin Panel</h2>

<div class="row">
    <div class="left" style="background-color:#bbb;max-width: 10%;">
        <ul id="myMenu">
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/leaderboard">Leaderboard</a></li>
            <li><a href="/admin/questions">Quests</a></li>
        </ul>
    </div>

    <div class="right" style="background-color:#ddd;">
        <h2>Edit Quest</h2>
        <form action="/admin/questions/<%= question._id %>/update" enctype="multipart/form-data" target="formSubmitFrame" method="post">
            <div class="form-section">
                <div class="section-info">
                    <h2>Meta information</h2>
                    <p>Specify the activity and point value</p>
                </div>
                <div class="section-inputs">
                    <div class="input-div">
                        <label for="question_text">Quest Description:</label>
                        <input type="text" id="question_text" name="question_text" value="<%=question.question_text%>">
                    </div>

                    <div class="input-div">
                        <label for="question_value">Point Value:</label><br>
                        <input type="number" id="question_value" name="question_value" value="<%=question.question_value%>">
                    </div>
                    </div>
                </div>
            <div class="form-section">
                <div class="section-info">
                    <h2>Submit</h2>
                    <p></p>
                </div>
                <div class="section-inputs">
                    <div>
                        <button type="submit" class="btn">Submit</button>
                        <button type="button" class="btn" onclick="deleteQuestion()">Delete Quest</button>
                        <iframe name="formSubmitFrame"></iframe>
                    </div>
                </div>
            </div>
            <div class="form-section">
                <div class="section-info">
                    <h2>QR Code</h2>
                    <p>Generate QR code to access the question</p>
                </div>
                <div class="section-inputs">
                    <label for="color-picker">QR Code Color: </label>
                    <input type="color" name="color-picker" onchange="generateQRCode(this.value)">
                    <div id="qrcode"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    window.addEventListener("load", generateQRCode('#000000'));
    function generateQRCode(color) {
        document.getElementById('qrcode').innerHTML = '';
        var qrc = new QRCode(document.getElementById("qrcode"), {
            text: "https://tesomas.camp/game/redeemQuestion/<%= question._id %>",
            width: 200,
            height: 200,
            colorDark: color
        });
    }
    function deleteQuestion() {
        if (confirm('Delete the Quest?')) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    alert('Quest has been deleted');
                    window.location.replace("/admin/questions");
                }
                else if (this.readyState === 4){
                    alert("Unable to delete Quest.")
                }
            };
            xhttp.open("POST", "/admin/questions/<%=question._id%>/delete", true);
            xhttp.send();
        }
    }
</script>
</body>
</html>
